<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Entreprise</title>

</head>
<body>
<div layout:fragment="content" class="container">
<div class ="col-md-12 col-sm-12 col-xs-12">

  <div class="panel panel-primary">
    <div class="panel-heading">Ajouter une Entreprise</div>
    <div class="panel-body">
    <form th:action="@{/saveEntreprise}" method="post">
    <div class="form-group">
    <label class="form-label">Nom :</label>
    <input type="text" class="form-control" name="nom" th:value="${entreprise.nom}"/>
    <span class="text-danger" th:errors="${entreprise.nom}"></span>
    
    </div>
   
    <div class="form-group">
    <label class="form-label">Email :</label>
    <input type="text" class="form-control" name="email" th:value="${entreprise.email}"/>
    <span class="text-danger" th:errors="${entreprise.email}"></span>
    
    </div>
    
      <div class="form-group">
    <label class="form-label">Raison Sociale :</label>
    <input type="text" class="form-control" name="raisonSociale" th:value="${entreprise.raisonSociale}"/>
    <span class="text-danger" th:errors="${entreprise.raisonSociale}" ></span>
    
    </div>
    
    <button class="btn btn-primary" type="submit">Enregistrer</button>
    
    
    </form>
   
    
    </div>
  
  </div>
</div>  







</div>

</body>
</html>




